# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# build artifacts
*.user
Makefile
*.spec
*.rpm
documentation.list
build
moc_*
qrc_*
